
<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path("app_acceuil") }}">FC Tourisme</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path("app_etablissements") }}">Etablissements</a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav">
                {% if app.user == false %}
            <li class="nav-item d-flex">
                    <a class="nav-link active" aria-current="page" href="{{ path("app_inscription") }}">Inscription</a>
                    <a class="nav-link active" aria-current="page" href="{{ path("app_login") }}">Connexion</a>
            </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                            </svg>
                            {% if app.user.pseudo %}
                                {{ app.user.pseudo }}
                            {% else %}
                                {{ app.user.prenom }} {{ app.user.nom |upper }}
                            {% endif %}</a>
                        <div class="dropdown-menu" style="position: absolute; inset: 0 auto auto -110px; margin: 0; transform: translate(0px, 42px);" data-popper-placement="bottom-start">
                            {% if app.user.EtablissementFavorits is defined %}
                                <a class="dropdown-item" style="display: flex; align-items: center " href="{{ path("app_etablissement_fav") }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                    </svg>
                                    <span class="ms-2">Etablissements Favoris</span>
                                </a>
                            {% endif %}
                            <a class="dropdown-item" style="display: flex; align-items: center " href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                </svg>
                                <span class="ms-2">Profil</span>
                            </a>
                            <a class="dropdown-item" style="display: flex; align-items: center " href="{{ path("app_logout") }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                                    <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                                <span class="ms-2">Déconnexion</span>
                            </a>

                        </div>
                    </li>

                {% endif %}



        </ul>


    </div>
</nav>