{% extends 'base.html.twig' %}

{% block title %}{{ Etablissement.nom }}{% endblock %}

{% block body %}

    <h1 class="mt-4">{{ Etablissement.nom }}{% if app.user %}
            {% if Etablissement in app.user.EtablissementFavorits %}
                <a  class="btn btn-sm me-2" href="{{ path("app_etablissementdetail_slug_fav", {'slug': Etablissement.slug}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg></a>
            {% else %}
                <a class="btn btn-sm me-2" href="{{ path("app_etablissementdetail_slug_fav", {'slug': Etablissement.slug}) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                </a>
            {% endif%}
        {% endif %}</h1>
    {% for categorie in Etablissement.categorie  %}
        <span class="badge text-bg-secondary">{{ categorie.nom | capitalize }}</span>
    {% endfor %}
    <h4 class="mt-3">Déscription :</h4>
    <p class="mt-3">{{ Etablissement.description }}</p>
    <p>Adresse : {{ Etablissement.adresse }} {{ Etablissement.ville.nom }} {{ Etablissement.ville.codePostal }}</p>
    <hr>
    <h4>Nous contacter :</h4>
    <span>{{ Etablissement.numTel }}</span>
    <br>
    <span>{{ Etablissement.email }}</span>
    <br>
    <div class="d-flex justify-content-end mt-4">
        <a class="btn"
           href="{{ path("app_etablissements") }}">Retour</a>
        <i class="bi bi-box-arrow-left"></i>
    </div>

{% endblock %}