{% extends 'base.html.twig' %}

{% block title %}{{ Etablissement.nom }}{% endblock %}

{% block body %}

    <div class="d-flex mt-5 ms-5">
        <div style="background-color: #FFFFFF;  width: 65%; border-radius: 20px; padding: 40px; max-height: 700px">
            <h1 >{{ Etablissement.nom }}</h1>
            {%for categorie in Etablissement.categorie %}
                <h5>{{ categorie.nom }}</h5>
            {%endfor %}
            <p class="mx-auto " style="font-size: 20px; background-color: #D9D9D9; border-radius: 20px; padding: 10px ; padding-left: 30px; height: 50px; width: 100%">{{ Etablissement.Adresse }} {{ Etablissement.ville.CodePostal }} {{ Etablissement.ville.nom }}</p>
            <div class="mx-auto" style="font-size: 20px; background-color: #D9D9D9; border-radius: 20px; padding: 30px; height: 60%; width: 100%">{{ Etablissement.description }}</div>
            <div style="display: flex; flex-direction: row-reverse; margin-top: 10px">
                <p>{{ Etablissement.createdAt | date('d-m-Y') }}</p>
            </div>


        </div>
        <div style="width: 25%;margin-left: 40px">
            <div style="background-color: #FFFFFF; height: 510px; width: 100%; border-radius: 20px">
                <div style="padding:40px;">
                    <h1 style="">Météo a {{  Etablissement.ville.nom }}</h1>
                    <p style="font-size: 20px; margin-top:40px; background-color: #D9D9D9; border-radius: 20px; padding: 10px ; padding-left: 30px; height: 100%; width: 100%">Pour l'instant, il faut beau</p>
                </div>
            </div>
            <div style="background-color: #FFFFFF; height: 150px; width: 100%; margin-top: 40px; border-radius: 20px;display: flex;justify-content: center;align-items: center;">
                <div class="d-flex" style="justify-content: space-evenly; width: 100%">
                    {% if app.user %}
                        {% if Etablissement in app.user.EtablissementFavorits %}
                            <a style="background-color: #D9D9D9; width: 30%; height: 50px; text-decoration: none; color: black; display: flex;justify-content: center;align-items: center; border-radius: 10px" href="{{ path("app_etablissementdetail_slug_fav", {'slug': Etablissement.slug}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                    <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                </svg>
                            </a>
                        {% else %}
                            <a style="background-color: #D9D9D9; width: 30%; height: 50px; text-decoration: none; color: black; display: flex;justify-content: center;align-items: center; border-radius: 10px" href="{{ path("app_etablissementdetail_slug_fav", {'slug': Etablissement.slug}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                </svg>
                            </a>
                        {% endif%}
                    {% endif %}
                    <a style="background-color: #D9D9D9; width: 30%; height: 50px; text-decoration: none; color: black; display: flex;justify-content: center;align-items: center; border-radius: 10px" href="{{ path("app_etablissements") }}">Retour</a>


                </div>
            </div>
        </div>
    </div>

{% endblock %}