{% extends 'base.html.twig' %}

{% block title %}Liste des Etablissements{% endblock %}

{% block body %}
    {% if app.user.EtablissementFavorits is defined %}
        <a class="btn btn-primary mt-3" href="{{ path("app_etablissement_fav") }}">Mes Etablissements Favoris</a>
    {% endif %}
    <div class="container text-center">
        <div class="row row-cols-auto">
            {% for Etablissement in Etablissements %}
                <div class="col">
                    <div class="card mt-4" style="width: 18rem; height: auto">
                        <div class="card-body">
                            <h5 class="card-title">{{ Etablissement.nom }}</h5>
                            {% for categorie in Etablissement.categorie %}
                                <span class="badge rounded-pill text-bg-secondary">{{ categorie.nom }}</span>
                            {% endfor %}

                            <p class="mt-3">{{ Etablissement.ville.nom }} | {{ Etablissement.ville.codePostal }}</p>
                            <hr>

                            <p class="card-text">{{ Etablissement.description[:75] }} ... </p>
                            <div class="d-flex justify-content-end">
                                {% if app.user %}
                                    {% if Etablissement in app.user.EtablissementFavorits %}
                                        <a  class="btn btn-sm me-2" href="{{ path("app_etablissement_slug_fav", {'slug': Etablissement.slug}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg></a>
                                    {% else %}
                                        <a class="btn btn-sm me-2" href="{{ path("app_etablissement_slug_fav", {'slug': Etablissement.slug}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                        </a>
                                    {% endif%}
                                {% endif %}
                                <a class="btn btn-sm "
                                   href="{{ path("app_etablissement_slug", {'slug': Etablissement.slug}) }}">Voir
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                    </svg>
                                </a>

                            </div>

                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                {{ knp_pagination_render(Etablissements) }}
            </div>
        </div>
    </div>

{% endblock %}